div.app-view-Preview {
    font-size: 3vmin;
}

div.app-view-Preview.frame > canvas {
    border-radius: .5rem;
    border: .5rem solid #fff;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px #000;
}

div.app-view-Preview > canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

div.app-view-Preview > div.name,
div.app-view-Preview > div.type {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0.5rem;
    opacity: .7;
    text-shadow: 0.1em 0.1em #000;
}

div.app-view-Preview > div.name {
    font-size: 200%;
    font-variant: small-caps;
    top: 0;
    font-weight: bolder;
}

div.app-view-Preview > div.type {
    top: 2em;
}
