div.App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.App > div.controls {
    width: 90vw;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

div.App > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
