div.App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.App > div {
    width: 70vmin;
    padding: 0;
}

div.App > div > canvas {
    width: 70vmin;
    height: 70vmin;
    box-shadow: 0 4px 8px #000;
}
